body {
    font-family: 'Arial', sans-serif;
    background-color: #fef6e4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c62828;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    text-shadow: 2px 2px #8e0000;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #c62828;
}

h2 {
    color: #c62828;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 15px 0;
    padding: 15px;
    background-color: #ffe0b2;
    border: 1px solid #ffb74d;
    border-radius: 8px;
}

li h3 {
    margin: 0 0 10px;
    color: #d84315;
}

li p {
    margin: 0;
}

#podium div {
    margin: 10px auto;
    font-size: 2rem;
    text-align: center;
}

.game-card {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 0;
    background-color: #f9f9f9;
    transition: transform 0.2s, box-shadow 0.2s;
}

.game-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-card h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.game-card p {
    margin: 10px 0 0;
    font-size: 1rem;
    color: #555;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    header p {
        font-size: 1rem;
    }

    .container {
        width: 95%;
        padding: 15px;
    }

    li {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.9rem;
    }
}
